:root {
  --color-text-light: #fff;
  --color-text-light-hover: hsl(209, 22%, 80%);
  --color-text-dark: #3f3f3f;
  --color-shadow: hsla(0, 0%, 25%, 0.74);
  --color-aqua: #3b4c5c;
  --color-light-blue: #76d1fe;
  --color-gray: #272e38;
  --color-light-gray: #2b353f;
}

* {
  margin: 0;
  padding: 0;
  /* Checked with a color picker. It's just #fff */
  color: white;

  /* They've picked Arial */
  font-family: Arial;

  box-sizing: border-box;
}

nav {
  background-color: var(--color-aqua);
}

main {
  height: 100%;

  /* box-shadow doesn't work for some reason ¯\_(ツ)_/¯ */
  /* box-shadow: 0 50px 4px 0 var(--color-shadow); */

  /* Removes a small white line caused by the image being .x px instead of .0 px */
  margin-bottom: -4px;
}

article {
  /* background-color: var(--color-light-blue); */
}

footer {
  background-color: var(--color-gray);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* padding-top is needed. The text isn't centered to the logo in the provided design (Opgave_Event_Centrum.pdf). */
  padding-top: 1vh;
  display: inline-flex;
}

a {
  text-decoration: none;
}

/* ID's */
#menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
}

/* Image, children and Call To Action */
#media-image {
  width: 100%;
  height: auto;
  position: relative;
}

#media-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60%;
}

/* #media-image h2 */
#media-image a {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: var(--color-text-light) 1px solid;
  padding: 0.1% 0.4%;
  padding-top: 0%;

  cursor: pointer;
}

#about {
  background-color: var(--color-light-blue);
}

#bulletpoints {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 1vh 0;

  background-color: var(--color-text-light);
  color: var(--color-gray);
}

#bulletpoints h4,
#bulletpoints p {
  color: var(--color-gray);
}

#footer {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  /* padding: 1vh 2vw; */
  background-color: var(--color-gray);
  color: var(--color-text-light);
}

#contact-information {
}

#contact {
}

/* Classes */
.center {
  text-align: center;
  margin: auto;
}

.width100 {
  width: 100%;
}

.hover-anim:hover {
  transition: 0.4s;
  color: var(--color-text-light-hover);
}

/* Flex Row */
.flex-right-wrapper {
  display: flex;
  flex-direction: row;
}

.flex50 {
  width: 50%;
}

.about-text {
  padding: 4vh 3vw;

  /* ? Can't have margins for some reason */
  /* margin: 4vh 2vw; */
}

.about-text h2 {
  font-size: 3em;
  font-weight: lighter;
}

.about-text p {
  /* TODO: Should the font size be bigger? If so, should the rest of the P tags be the same size? */
  /* font-size: 1.2em; */
  padding-top: 1.4vh;
}

.bullet-container {
  display: flex;
  flex-direction: row;
  padding: 1vw 4vw;
}

.bullet-container img {
  width: 66px;
  height: 66px;
}

.bullet-text-container {
  margin-left: 1vw;
  padding-top: 1vh;
}

.bullet-text-container p {
  padding-top: 0.5vh;
}

/* Phone users */

@media only screen and (max-width: 768px) {
  #bulletpoints {
    padding: 0;
  }

  .flex-right-wrapper {
    display: flex;
    flex-direction: column;
  }

  .flex50 {
    width: 100%;
  }
}
